.offers-cards {
  background: #ffffff;
  border-radius: 40px;
  padding: 40px;
  overflow: hidden;
}
.offers-swiper{
    margin-right: -80px;
}

.offers-swiper .swiper-button-next, .swiper-rtl .swiper-button-prev{
    right: var(--swiper-navigation-sides-offset, 50px);
       

}
.offers-swiper .swiper-button-prev, .swiper-rtl .swiper-button-next{
     left: var(--swiper-navigation-sides-offset, 20px);
}


@media (max-width: 576px){
    .offers-swiper{
        margin-right: 0;
    }
    .offers-swiper .swiper-button-next, .swiper-rtl .swiper-button-prev{
        right: 10px;
    }
    .offers-swiper .swiper-button-prev, .swiper-rtl .swiper-button-next{
        left: 10px;
    }
    .offers-cards{
      padding: 0;
      border-radius: 0;
      background-color: transparent;
    }
}